 <table id="table_dictfield_{{ widget.name }}">
  <thead>
    <tr>
      <th>{{ column1_verboseName }}</th>
      <th>{{ column2_verboseName }}</th>
      <th><button type="button" id="addBtn_dictfield_{{ widget.name }}">Add</button></th>
    </tr>
  </thead>
 </table>
 <script>

          window.onload = init;
          var dict_field_table;

          function init() {
              dict_field_table = document.getElementById("table_dictfield_{{ widget.name }}");
              var button = document.getElementById("addBtn_dictfield_{{ widget.name }}");
              button.onclick = handleAddButtonClick;
          }

          function createNewRow() {
              var row = document.createElement("tr");
              var col1 = document.createElement("td");
              var col2 = document.createElement("td");
              var col3 = document.createElement("td");
              col1.innerHTML = `{% include widget1.template_name|escapejs %}`
              var input2 = document.createElement("input");
              var trash_btn = document.createElement("button");
              trash_btn.innerHTML = "Trash"
              trash_btn.onclick = function () { handleTrashButtonClick(trash_btn) }
<!--              col1.appendChild(input1)-->
              col2.appendChild(input2)
              col3.appendChild(trash_btn)
              row.appendChild(col1);
              row.appendChild(col2);
              row.appendChild(col3);
              return row
          }

          function updateInputNames() {
              var input_iter = 0
              for (var i = 0; i < dict_field_table.childNodes.length; i++) {
                  var row = dict_field_table.childNodes[i];
                  if (row.tagName != "TR") {
                      continue;
                  }
                  row.childNodes[0].firstChild.name = `input1_${input_iter}`
                  row.childNodes[1].firstChild.name = `input2_${input_iter}`
                  input_iter += 1
              }
          }


          function handleTrashButtonClick(elem) {
              elem.parentElement.parentElement.remove()
              updateInputNames()
          }

          function handleAddButtonClick() {
              dict_field_table.appendChild(createNewRow());
              updateInputNames()
          }

</script>