<h2>{{ root.title }}</h2>
{% if root.root_form %}
<form>
  <table class="settings_table">
    {{ root.root_form.as_table }}
  </table>
  <input class="btn btn-success"  formaction="{% url root.root_save_url %}" type="submit" value="Сохранить"/>
</form>
{% endif %}
<h3>{{ root.sub_field_change_title }}</h3>
<form>
  <table class="settings_table">
    <thead>
      <th></th>
      {% for field in root.sub_field_form %}
        <th>{{ field.label }}</th>
      {% endfor %}
      <th></th>
    </thead>
  {% for form in root.sub_field_form_list %}
    <tr>
      <th>{{ form.method_number }}: </th>
      {{ form.as_table_string }}
      <td><a class="btn btn-danger" role="button" href="{% url root.sub_field_delete_url form.method_number %}" >Удалить</a></td>
    </tr>
  {% endfor %}
  </table>
  <input class="btn btn-success"  formaction="{% url root.sub_field_save_edit_url %}" type="submit" value="Сохранить"/>
</form>
<h3>{{ root.sub_field_create_title }}</h3>
<form>
  <table class="settings_table">
    {{ root.sub_field_form.as_table }}
  </table>
  <input class="btn btn-success"  formaction="{% url root.sub_field_save_create_url %}" type="submit" value="Добавить"/>
</form>