{% extends "delivery_distributor/delivery_distributor_page_base.html" %}

{% load yandex_maps_tags %}
{% load static %}

{% block breadcrumbs %}
    <p>
        <a href="{% url "delivery_distributor:index" %}">Назад к выбору даты</a>
        <- <a href="{% url "delivery_distributor:orders" %}">Назад к заказам</a>
        <- <a href="{% url "delivery_distributor:couriers" %}">Назад к курьерам</a>
    </p>
{% endblock  %}

{% block content %}
{{ block.super }}
<div class="row mb-4">
    <form method="post">
        {% include "partials/form.html" %}
        <button class="btn text-alarm" name="action" value="reset" type="submit">Сбросить</button>
        <button class="btn btn-primary" name="action" value="next" type="submit">Рассчитать маршруты</button>
    </form>
</div>
{% endblock  %}