<h4>Памятка</h4>
<ol>
    <li><p>Составляем карту</p></li>
    <li>
        <p>В левом нижнем углу нажимаем "Сохранить и подолжить"</p>
        <img width="300" src="/media/apps/delivery_map_loader/pictures/save_and_continue.PNG"/>
    </li>
    <li>
        <p>В левом верхнем углу нажимаем "экспорт"</p>
        <img width="300" src="/media/apps/delivery_map_loader/pictures/export.PNG"/>
    </li>
    <li>
        <p>Выбираем формат GEOJSON и нажимаем "Скачать"</p>
        <img width="300" src="/media/apps/delivery_map_loader/pictures/geojson_and_download.PNG"/>
    </li>
    <li>
        <p>Выбираем этот .geojson файл, и нажимаем отправить</p>
    </li>
</ol>
