{% extends "base_generic.html" %}

{% block content %}
<div class="row mb-4">
  {% block top_content %}
  {% endblock  %}
</div>
<div class="row mb-4">
  <div class="col">
    <form method="post">
      {% csrf_token %}
      {% block form_content %}
      <table class="mb-4">
        {{ form.as_table }}
      </table>
      <input class="btn btn-primary" type="submit"></input>
      {% endblock  %}
    </form>
  </div>
</div>
<div class="row mb-4">
  {% block bottom_content %}
  {% endblock %}
</div>
{% endblock %}