{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>SNM Script launcher</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  {% block header_script %}
  {% endblock %}

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="m-4">
          <h1><a class="text-decoration-none text-reset" href="/">S.O.B.A.K.A.N.A.M.Y.A.S.E</a></h1>
          <p>Добро пожаловать в SNM Script launcher</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="m-4 text-end">
          {% if user.is_authenticated %}
            <p>Привет, {{ user.get_username }}. {% if user.is_staff %}<a href="{% url 'admin:index' %}">Админка</a>{% endif %}</p>
            <p>Спасибо что зашёл) <a href="{% url 'logout' %}">Выход</a></p>
          {% else %}
            <p>Ты это, заходи если что.</p>
            <p><a href="{% url 'login' %}">Вход</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  <div class="row mb-4">
    {% block page_title %}{% endblock  %}
  </div>
    <div class="row">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
